---
const { destination } = Astro.props
const { name, description, avgDistance, travelTime } = destination
// TODO use Image component by Astro
---

<div
  data-destination={name}
  style={`display:${name === 'mars' ? 'block' : 'none'}`}
>
  <h1 class='text-4xl text-dark'>{name}</h1>
  <img
    class='w-full h-auto'
    src={`/assets/destination/image-${name}.webp`}
    alt={name}
  />
  <p>{description}</p>
  <p>{avgDistance}</p>
  <p>{travelTime}</p>
</div>
